$blue: #66a1ee;
$dgrey: #848484;

@import "reset";
@import "media-lt-768";
@import "grid";
@import "button";

div {
	box-sizing: border-box;
}

body {
	font-size: 13px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	color: #333333;
	white-space: normal;
	background-color: #fafafa;
}

a {
	color: inherit;
}

header {
	margin-bottom: 100px;
}

article {
	margin-bottom: 50px;
}

.main-wrapper {
	 margin: 0 auto;
	 display: block;
	 min-height: 100%;
	 width: auto;
	 max-width: 760px;
	 padding: 50px 4%;
}

h1 {
	 font-size: 64px;
	 font-weight: 400;
	 line-height: 73px;
	 margin-bottom: 25px;
}

h1 a {
	text-decoration: none;
}

p {
	 font-size: 17px;
	 line-height: 26px;
	 margin-bottom: 35px;
}

.meta {
	font-size: 13px;
   	margin-bottom: 35px;
   	border-width: 0px 0px 1px 0px;
   	border-style: dotted;
	border-color: #848484;
   	margin-top: 45px;
   	line-height: 20px;
}

.avatar {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #b4b4b4;
}

.meta-detail {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.meta-detail > .date {
	color: #848484;
}

.meta-detail > .date:before {
	content: "\f3f4";
	font-family: "Ionicons";
	margin-right: 10px;
}

.author {
	color: $blue;
	letter-spacing: 2px;
}

p.intro {
   margin-bottom: 35px;
   font-size: 21px;
   line-height: 28px;
}

p.pullquote {
   font-size: 17px;
   line-height: 26px;
   margin-bottom: 35px;
   padding-left: 15px;
   border-width: 0px 0px 0px 3px;
   border-style: solid;
}

.quote-author {
	color: #848484;
	font-style: italic;
	font-size: 14px;
}

#logo {
	display: inline-block;
	font-size: 48px;
	font-weight: 900;
	width: 10%;
	color: #848484;
}

#logo span {
	color: #b4b4b4;
}

nav {
	display: inline-block;
	width: 89%;
	text-align: right;
}

.nav-item {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}
.nav-item > a {
	text-decoration: none;
}

footer {
	margin-top: 100px;
}

.footer-text {
	display: inline-block;
	margin-left: 10px;
}

.footer-text p {
	font-size: 11px;
	margin: 0;
	line-height: 16px;
}
