.intro {
   margin-bottom: 35px;
   font-size: 21px;
   line-height: 28px;
}

.pullquote {
   font-size: 17px;
   line-height: 26px;
   margin-bottom: 35px;
   padding-left: 15px;
   border-width: 0px 0px 0px 3px;
   border-style: solid;
}
