---
layout: default
---

<div class="article-action">
  <a href="/">
    <span class="ion-ios-arrow-thin-left article-action__icon"></span>
    <span>Beranda</span>
  </a>
</div>
<div class="post post--single">
  <h1 class="post__title post__title--single">{{ page.title }}</h1>
  <img src="/img/rozakbuhari-avatar.jpg" alt="" class="post__avatar">
  <div class="post-meta">
    <div class="post-meta__author">{{ page.author }}</div>
    <div class="post-meta__date">Pada {{ page.date | date: "%-d %B %Y" }}</div>
  </div>
  {{  page.content }}
</div>
