---
layout: default
---

<div class="article-action">
  <a href="/">
    <span class="ion-ios-arrow-thin-left article-action__icon"></span>
    <span>Beranda</span>
  </a>
</div>
<div class="post post--single">
  <h1 class="post__title post__title--single">{{ page.title }}</h1>
  <img src="/img/rozakbuhari-avatar.jpg" alt="" class="post__avatar">
  <div class="post-meta">
    <div class="post-meta__author">{{ page.author }}</div>
    <div class="post-meta__date">Pada {{ page.date | date: "%-d %B %Y" }}</div>
  </div>
  {{  page.content }}
  <div id="disqus_thread"></div>
</div>
<script>
var disqus_config = function () {
    this.page.url = "{{ site.url}}{{ page.url }}";
    this.page.identifier = "{{ page.slug }}";
};
(function() {
    var d = document, s = d.createElement('script');
    s.src = '//rozakbuhari.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
